body { 
    font-family: 'Times New Roman';
    margin: 0;
    background-color: white;
    text-align: center;
}

header {
    background-color: rgb(8, 120, 185);
    padding: 40px;
}

main {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
}

footer {
    text-align: right;
    background-color: rgb(7, 103, 158);
    padding: 20px;
    margin-top: 20px;
    color: white;
}

table {
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
}

tr, th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: #f8f9fa;
    text-align: left;
    padding: 12px;
}

button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: rgb(8, 120, 185);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}

button:hover {
    background-color: rgb(6, 90, 140);
}

input[type="text"] {
    flex-grow: 1;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 6px;
    width: 20%;
}

select {
    width: 10%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #fff;

}
/* Przycisk: przycisk Trwające -> zółty */
td button:nth-child(1) {
     background-color: #f1c40f; 
     color: #000; 
} 
/* Przycisk: zakończone -> zielony */
td button:nth-child(2) { 
    background-color: #2ecc71; 
}

td button:hover {
    opacity: 0.8;
}
/* Status: nowe -> czerwony */
tr.status-Nowe td:nth-child(3) { 
    background-color: #f8d7da; 
    color: #721c24;
    font-weight: bold;    

}

/* Status: Trwające -> żółty */
tr.status-Trwające td:nth-child(3) { 
    background-color: #fff3cd; 
    color: #856404;
    font-weight: bold;
}

/* Status: zakończone -> zielony */
tr.status-Zakończone td:nth-child(3) { 
    background-color: #d4edda; 
    color: #155724;
    font-weight: bold;
}

